@font-face {
    font-family: "Rubik Bold";
    src: url(./fonts/Rubik-Bold.ttf);
}

@font-face {
    font-family: "Rubik Medium";
    src: url(./fonts/Rubik-Medium.ttf);
}

@font-face {
    font-family: "Rubik Regular";
    src: url(./fonts/Rubik-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik Regular";
}

.container {
    text-align: center;
    min-width: 1440px;
    margin: 0 auto;
}

.button {
    height: 64px;
    color: #fff;
    font-size: 20px;
    background-color: rgb(18,86,155);
    border-radius: 80px;    
    border-color: transparent;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(18,86,155,0.8);
}

.button:active {    
    background-color: rgb(18,86,155,0.7);
}

.header_btn {
    width: 235px;
}

.header {
    height: 580px;
    display: flex;
    background-color: rgb(227,230,237);
    padding: 0 102px;
    margin: o auto;
}

.header_container {
    display: flex;
    width: 1075px;
    margin: 0 auto;
}

.header_content {
    width: 445px;
    text-align: left;
    margin-top: 40px;
}

.header_icon {
    display: block;
    margin-bottom: 80px;
}

.header_content h1 {
    width: 365px;
    font-family: "Rubik Bold";
    font-size: 90px;
    color: rgb(33,32,51);
    line-height: 80%;
    letter-spacing: 18px;
    margin-bottom: 46px;
}

.header_dron {
    height: 456px;
}

.main {
    position: relative;
    height: 544px;
    padding: 60px 102px 0 102px;
    margin: 0 auto;
}

.main h2 {
    margin-bottom: 18px;
    font-size: 32px;
    color: rgb(33,32,51);
    letter-spacing: 0.5px;
}

.main p {
    display: block;
    width: 693px;
    font-size: 20px;
    color: rgb(33,32,51);
    margin-left: auto;
    margin-right: auto; 
}

.main p:last-of-type {
    margin-bottom: 44px;
}

.main_images {
    display: flex;
    justify-content: center;
}

.main_images img {
    height: 203px;
    width: 345px;
    border-radius: 10px;
}

.main_images img:not(:last-of-type){
    margin-right: 20px;
}

.main_images::before {
    position: absolute;
    content: "";
    background-color: rgb(227,230,237);
    height: 90px;
    width: 90%;
    left: 0;
    bottom: 150px;
    z-index: -1;
}

.pay {
    height: 352px;
    margin: 0 auto;
    padding: 0 102px;
}

.pay h2 {
    font-family: "Rubik Medium";
    font-size: 48px;
    color: rgb(33,32,51);
    letter-spacing: 1px;
    margin-bottom: 24px;
}

.pay_form form {
    display: flex;
    width: 940px;
    margin: 0 auto;
}

.pay_founds {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    margin-right: 40px;
}

.pay_founds label {
    position: relative;
    height: 48px;
    width: 289px;
    line-height: 40px;
    color: rgb(18,86,155);
}

.pay_founds *:first-child {
    margin-bottom: 16px;
}

.pay_founds label:not(:last-of-type) {
    margin-bottom: 16px;
}

input {
    font-size: 20px;
    padding: 0 24px;
    text-align: center;
}

input[type=radio] {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

input[type=radio]~ span {
    position: relative;
    display: inline-block;
    font-size: 20px;
    width: 100%;
    height: 100%;
    border-radius: 80px;
    background-color: transparent;
    border: solid rgb(18,86,155) 1px;
    padding: 3px 6px;
    cursor: pointer;
}

input[type=radio]:checked ~ span {
    background-color: rgb(18,86,155,0.2);
}

input[type=radio]~ span::after {
    content: "";
}

input[type=radio]:checked ~ span::after {
    content: "√";
    right: 30px;
    position: absolute;
}

.pay_card_data {
    margin-right: 40px;
    width: 100%;
    height: 210px;
}

.pay_card_data > div {
    display: flex;
    justify-content: space-between;
   
}

.pay_card_data > div label {
    display: inline-block;
    width: 130px;
}

.pay_card_data > div label > input {
    margin-top: 6px;
}

.pay_card_data_verif {
    width: 580px;
    height: 210px;
}

.pay_card {
    display: flex;
    width: 604px;
}

.pay_card > * {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pay_card label {
    text-align:  left;
}

.pay_card label > input {
    height: 60px;
    width: 100%;
    border-radius: 10px;
    border: solid rgb(18,86,155) 1px;
    margin-top: 12px;
}

footer {
    height:  154px;
    font-size: 20px;
    color: #fff;
    background-color: rgb(18,86,155);
    padding-top: 50px;   
    margin-top: 42px;
}

footer *:first-child {
    letter-spacing: 2px;
    margin-bottom: 24px;    
}
